.dashboard-section {
    margin: 1rem 0 7rem 0;
    
    .user-dashboard-section {
        background: #fff;
        padding: 4rem 3rem;
        border-radius: 1rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}