.product-fresh-item {
  width: 100%;
  max-height: 28.5rem;
  padding: 0 0 2rem 0;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  &:hover {
    border: 1px solid #34a853;
    .wrapper-icon-link {
      opacity: 1;
      visibility: visible;
      right: 1rem;
      top: 1rem;
      .icon-link:hover {
        rect {
          fill: #34a853;
        }
      }
      
    }
  }
  .wrapper-icon-link {
    transition: all 0.4s;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    right: 0;
    top: 1rem;
    rect {
      fill: #d6eedd;
    }
  }

  .img-zoom {
    transition: transform 0.3s;
    &.img-zoom:hover {
      transform: scale(1.1);
    }
  }

  .product-img {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    .ritings {
      margin: 1rem 0;
    }
    
    .price {
      margin: 1rem 0;
    }

    .product-details {
      font-size: 1.2rem;
    }

    .price-cut {
      text-decoration: line-through;
      &.new-price {
        font-size: 1.2rem;
      }
    }

    .product-btn {
      padding: 0.7rem 1rem 0.7rem 1rem;
      background: rgba(52, 168, 83, 0.2);
      color: #34a853;
      font-size: 1.2rem;
      &:hover {
        color: white;
        background:#34a853;
        .fill-color {
          fill: white;
        }
      }

      .btn-text {
        font-size: 14px;
      }
      .fill-color {
        fill: #34a853;
      }
    }
  }

  &.horizontal {
      display: flex;
      padding: 1rem;
      gap: 1rem;
     
      .wrapper-icon-link  {
        left: 0;
      }

      &:hover {
        .wrapper-icon-link {
          left:  1rem;
          top: 1rem;
        }
      }
      
      .product-img {
        width: 12rem;
        margin: 0;
        padding: 0;
      }

      .product-info {
        padding: 0;
         margin: 0;
        align-items: start;
        text-align: left;
        flex: 1 1 0%;
        
      }
      .product-details {
        font-size: 1.2rem;
      }
  }
}
