
 
  .form-check-input {
    border-color: black;
    &:checked {
      background-color: #34a853;
      border: none;
      border-radius: 0;
    }
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: black;
    }
  }

