@import "./assets/scss/bootstrap.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.devider {
  height: 1.4rem;
  width: 1px;
  background-color: grey;
}

.custom-input:focus {
  outline: none;
  box-shadow: none;
}

.custom-button:active {
  color: none;
  background-color: none;
  border-color: none;
}

.white-icon {
  fill: white;
}
.black-icon {
  fill: black;
}

.grey-icon,
.grey-icon rect {
  fill: rgb(134, 133, 133);
}

.input-group input.form-control:focus {
  outline: none;
  box-shadow: none;
}

.anchor {
  background: url("../src/assets/img/anchor.svg") no-repeat center center;
}

.gamepad {
  background: url("../src/assets/img/fruits.svg") no-repeat center center;
}

.mobile-screen-button {
  background: url("../src/assets/img/juice.svg") no-repeat center center;
}

.hause {
  background: url("../src/assets/img/meat.svg") no-repeat center center;
}

.auth-section {
  padding: 7rem 0 8rem 0;
  .accountImg-hiden {
    @media (max-width: 992px) {
      display: none;
    }
  }
  .review-form {
    padding: 4rem;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .auth-wrrap {
      @media (max-width: 992px) {
        flex-wrap: wrap;
      }
    }
  }
}

.transition-all {
  transition: all 0.3s ease-out;
}

.rotate180 {
  transform: rotate(180deg);
}

.input-reset {
  all: unset;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.image-gallery-thumbnail.active {
  border: none;
}
.image-gallery-thumbnail,
.image-gallery-thumbnail:hover {
  border: none;
}

.image-gallery-thumbnails-container {
  padding: 3rem;
display: flex;
align-items: center;
justify-content: center;
gap: 1rem;
}
.image-gallery-thumbnail {
  height: 6rem;
  width: 6rem;
  padding: 1rem;
  &.active {
    border-radius: 5px;
    border: 1px solid rgb(222, 222, 222);
  
  }
}

.image-gallery-slides {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 1rem;
}