@import "./assets/scss/bootstrap.scss";

.devider {
  height: 1.4rem;
  width: 1px;
  background-color: grey;
}

.custom-input:focus {
  outline: none;
  box-shadow: none;
}

.white-icon {
  fill: white;
}
.black-icon {
  fill: black;
}

.input-group input.form-control:focus {
  outline: none; 
  box-shadow: none;
}

.anchor {
  background: url("../src/assets/img/anchor.svg") no-repeat center center;
}

.gamepad {
  background: url("../src/assets/img/fruits.svg") no-repeat center center;
}

.mobile-screen-button {
  background: url("../src/assets/img/juice.svg") no-repeat center center;
}

.hause {
  background: url("../src/assets/img/meat.svg") no-repeat center center;
}

	