.registration-section {
  padding: 7rem 0 8rem 0;
  .accountImg-hiden {
    @media (max-width: 992px) {
      display: none;
    }
  }
  .review-form {
    padding: 4rem;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .registration-wrrap  {
        @media (max-width: 992px) {
          flex-wrap: wrap;
        }
      }
  }
}
