.product-bg-best-section{
  padding: 8rem 0;
  
  background: url("../../assets/img/best-deal-bg.png") no-repeat center center;
  background-size: cover;
}

.product-bg-grocery-section {
  padding: 8rem 0;
  background: url("../../assets/img/grocery-bg-2.png") no-repeat center center;
  background-size: cover;
}