.hero-section {
  background: url("../../assets/img/hero-bg.png") no-repeat center center;
  padding-top: 2rem;
  

  .wrapper-subtitle {
    font-size: 1.7rem;
    color: #198754;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  .swiper-horizontal > .swiper-pagination-bullets {
    bottom: 10rem;

    .swiper-pagination-bullet {
      display: inline-block;
      width: 1.5rem;
      height: 7px;
      border-radius: 30px;
      background-color: rgb(108, 108, 108);
      margin-right: 10px;

      &.swiper-pagination-bullet-active {
        background-color: #56940a;
      }
    }
  }

  .swiper-pagination {
    text-align: left;
  }

  .wrapper-info {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }

  .wrapper-img {
    height: 650px;
    width: 600px;
    
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;

    // @media (min-width: 768px) {
    //    min-width: 650px;

    // }
  }
}
